@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
}

.title-of-game{
    color:#75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

body{
    background-color: #EEF9BF;
}
.cronometro{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 5px dashed #65e074;
  height: 100%;
  background: #A7E9AF;
  color:#75B79E;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-right: 20px;
}

.topo{
  position:fixed;
  display:flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: #A7E9AF;
  z-index: 1;
}


.memoizacao{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 3s;
}


/* ROTATE */
.card {
    position: relative;
    display:flex;
    align-items: center;
    border: 1px solid #99CEA8;
    margin: 20px;
    width:117px;
    height:146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    transition: all 5s;
}

.front-face {
  position: absolute;
  left: 8px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: all .9s;
  transform-style: preserve-3d;
  
}

.back-face {
  position: absolute;
  left: 8px;
  width: 100px;
  height: 100px;
  background-color: #A7E9AF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: all .9s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.desroda-back-face{
  transform: rotateY(0deg);
}

.roda-front-face{
  transform: rotateY(-180deg);
}

.ranking{
  opacity: 0;
  border-radius: 5px;
  border: 5px dashed #65e074;
  width: 0px;
  height: 0px;
  margin: 0 auto;
  background-color: #A7E9AF;
  transition: all 3s;
}
ion-icon{
  margin: 0px 0px 0px 15px;
}

.suma{
  display:none;
}

.inicial{
  width: 0;
}
.apareca{
  width: 70vw;
  opacity: 1;
}

.esmaecer{
  transition: all 2s;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  opacity: 1;
}

.disable{
  pointer-events:none;
}

.linha-ranking{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 25px auto;
  transition: all 0.5s;
}

.linha-ranking div{
  width: 210px;
  text-align: start;
  margin-left: 50px;
}

.score{
  font-size: 30px;
  color:#75B79E;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  border: 5px dashed #65e074;
}

.ranking .name{
  margin: 0;
  font-size: 25px;
}


@media (max-width: 640px){
  .linha-ranking div{
    margin: 0 20px;
    font-size: 8px;
  }
  .linha-ranking{
    width: auto;
  }

  .esmaecer{
    width: 100vw;
  }

  .title-of-game{
    font-size: 36px;
  }

}